!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %meta{:charset => "utf-8"}
        %title SamePinch
  %body
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color:#f5f3f0", :width => "100%"}
      %tbody
        %tr
          %td
            %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "620"}
              %tbody
                %tr
                  %td{:align => "center"}
                    %table{:style => "font-size:14px; font-family:helvetica neue,helvetica,sans-serif;", :width => "100%"}
                      %td{:align => "left"}
                        %div{:align => "left", :style => "padding-left:10px;padding-top:5px;padding-bottom:5px;"}
                          %img{:alt => "", :height => "30", :src => "https://www.samepinch.co/img/emails/sp_logo.png", :width => "160"}/
                      %td{:align => "right", :style => "padding-right:20px;"}
                        %p
                          Get the app
                          %br
                            %a{:href => "http://apple.co/1WxNGH6", :style => "text-decoration:none; color:#03A9F4"} iOS
                            %a{:href => "https://play.google.com/store/apps/details?id=co.samepinch.android.app", :style => "text-decoration:none;color:#03A9F4"} Android
                    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "text-align: center;background:#ffffff;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;overflow:hidden", :width => "600"}
                      %tbody
                        %tr
                          %td{:align => "center", :style => "padding:0px"}
                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#ffffff;border-top:0", :width => "600"}
                              %tbody
                                %tr
                                  %td{:colspan => "1", :height => "34", :style => "font-size:34px;line-height:34px"} &nbsp;
                                %tr
                                  %td{:align => "left", :style => "padding:3px 30px 3px 30px;font-family:helvetica neue,helvetica,sans-serif;font-size:18px;line-height:18px;color:#454545"}
                                    Dear
                                    = succeed "er." do
                                      %b Ask
                                    Dear
                                    = succeed "er." do
                                      %b Assist
                                    Dear
                                    = succeed "er." do
                                      %b Attain
                                    %br
                                      %br
                                %tr
                                  %td{:align => "left", :style => "font-family:helvetica neue,helvetica,sans-serif;font-size:14px;color:#454545;line-height:24px;padding:0 30px 0px 30px; text-align:justify;"}
                                    We always believed in being social should be
                                    = succeed "." do
                                      %b{:style => "font-size:16px; color:#0D0D0D;"} rewarding and fulfilling
                                    It
                                    %b{:style => "font-size:16px;color:#0D0D0D;"} must add value
                                    beyond end-less scrolling of unwanted friend updates. Simply put together, like billion others, we have hated social networks out there today ruining and ruling our lives for their mere advertisement dollars.
                                    %br
                                      %br
                                        Once and for all we took the pledge to create an ideal community that
                                        = succeed "." do
                                          %b{:style => "font-size:16px;color:#0D0D0D;"} connects like-minded people via shared interests
                                        Sometimes we wanted to
                                        %b{:style => "font-size:16px;color:#0D0D0D;"} Ask
                                        for an opinion, sometimes we wanted to
                                        %b{:style => "font-size:16px;color:#0D0D0D;"} Assist
                                        someone and maybe sometimes we wanted to
                                        %b{:style => "font-size:16px;color:#0D0D0D;"} Attain
                                        knowledge. All of this can be done
                                        %b{:style => "font-size:16px;color:#0D0D0D;"} anonymously
                                        while protecting our privacy.
                                        %br
                                          %br
                                %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse", :width => "100%"}
                                  %tbody
                                    %tr
                                      %td{:align => "center", :style => "font-family:helvetica,sans-serif;font-size:30px;font-weight:bold;line-height:30px;color:#0D0D0D; padding-top:20px;"}
                                        %a{:href => "http://www.samepinch.co/", :style => "text-decoration:none;color:#0D0D0D"} come join the momentum
                                        %br
                                          %br/
                                %table{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background:#ffffff;", :width => "600"}
                                  %tbody
                                    %tr
                                      %td{:style => "padding-left: 30px; font-family:helvetica neue,helvetica,arial,sans-serif;font-size:18px;font-weight:normal;color:#454545;padding-bottom:10px;"}
                                        Trending Posts
                                        %br/
                                    %tr
                                      %td{:colspan => "1", :height => "20", :style => "padding-left: 30px; font-family:helvetica neue,helvetica,arial,sans-serif;font-size:14px;line-height:20px;text-decoration:none;"}
                                        %a{:href => "https://posts.samepinch.co/posts/how-can-i-get-my-toddler-to-drink-milk-any-tips", :style => "text-decoration:none;color:#03A9F4"} How can I get my toddler to drink milk? Any tips?
                                        %br
                                          %a{:href => "https://posts.samepinch.co/posts/quick-steps-to-hyderabadi-biryani-star-star-star-star-with-less-oil-star-star-star-star-dot-dot-dot", :style => "text-decoration:none;color:#03A9F4"} Quick recipe to Hyderabadi biryani
                                          %br
                                            %a{:href => "https://posts.samepinch.co/posts/my-running-notes-after-coming-to-usa-on-h1b-with-ibm-dot-dot-dot", :style => "text-decoration:none;color:#03A9F4"} My running notes after coming to USA on H1B
                                            %br
                                              %a{:href => "https://posts.samepinch.co/posts/best-way-to-relax-if-you-have-a-lo-in-family-play-with-the", :style => "text-decoration:none;color:#03A9F4"} Best way to relax if you have little one in family
                                              %br
                                                %a{:href => "http://posts.samepinch.co//leadership-can-be-tought-and-practiced-you-dont-have-to-b/", :style => "text-decoration:none;color:#03A9F4"} Leadership can be taught and practiced
                                                %br
                                                  %a{:href => "https://posts.samepinch.co", :style => "text-decoration:none;color:#03A9F4"} More...
                                                  %br
                                                    %br
                                                      %br/
                                %div{:style => "background:#f5f3f0"}
                                  %div{:style => "min-height:20px;font-size:20px"} &nbsp;
                                  %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "text-align:left;background:#f5f3f0", :width => "580px"}
                                    %tbody
                                      %tr
                                        %td{:style => "color:#666666;font-size:12px;font-family:helvetica neue,helvetica,arial,sans-serif;line-height:1.5; text-align:justify;", :valign => "center", :width => "300"}
                                          %b Get the SamePinch app
                                          %br SamePinch is a community of like-minded people connected via shared interests. SamePinch provides a platform for you to ask, post, comment anything you like on shared interests (like trending topics, yoga, active life, etc).
                                        %td{:align => "right", :valign => "center"}
                                          %a{:href => "http://apple.co/1WxNGH6", :style => "text-decoration:none", :target => "_blank"}
                                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "40", :style => "background-color:#666666;border-collapse:collapse;border-radius:3px;border-color:#666666;margin-left:auto;margin-right:auto;line-height:1", :width => "125"}
                                              %tbody
                                                %tr
                                                  %td{:align => "center", :height => "36", :valign => "center", :width => "36"}
                                                    %img.CToWUd{:border => "0", :height => "25", :src => "http://www.samepinch.co/img/emails/apple_icon_new.png", :style => "text-decoration:none;display:block;outline:none;border-radius:3px", :width => "25"}/
                                                  %td{:align => "left", :style => "padding-left:0;font-family:helvetica,sans-serif;color:#ffffff;padding-top:5px;padding-bottom:5px"}
                                                    %span{:style => "font-size:10px;color:#c0c0c0"} Available on the
                                                    %br
                                                      %b
                                                        %span{:style => "font-size:13px"} App Store
                                        %td
                                          %a{:href => "https://play.google.com/store/apps/details?id=co.samepinch.android.app", :style => "text-decoration:none", :target => "_blank"}
                                            %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "40", :style => "background-color:#666666;border-collapse:collapse;border-radius:3px;border-color:#666666;margin-left:auto;margin-right:auto;line-height:1", :width => "125"}
                                              %tbody
                                                %tr
                                                  %td{:align => "center", :height => "36", :valign => "center", :width => "36"}
                                                    %img.CToWUd{:border => "0", :height => "25", :src => "http://www.samepinch.co/img/emails/play_icon.png", :style => "text-decoration:none;display:block;outline:none;border-radius:3px", :width => "25"}/
                                                  %td{:align => "left", :style => "padding-left:0;font-family:helvetica,sans-serif;color:#ffffff;padding-top:5px;padding-bottom:5px"}
                                                    %span{:style => "font-size:10px;color:#c0c0c0"} Available on
                                                    %br
                                                      %b
                                                        %span{:style => "font-size:13px"} Google Play
                                      %tr
                                        %td{:colspan => "1", :height => "10", :style => "font-size:10px;line-height:10px"} &nbsp;
                                  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse", :width => "600"}
                                    %tbody
                                      %tr
                                        %td{:align => "center"}
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse", :width => "500"}
                                            %tbody
                                              %tr
                                                %td{:width => "30"}
                                                  %a{:href => "https://www.facebook.com/SamePinch.co", :style => "text-decoration:none", :target => "_blank"}
                                                    %img.CToWUd{:border => "0", :height => "30", :src => "http://www.samepinch.co/img/emails/fb_gray.png", :style => "text-decoration:none;display:block;outline:none", :width => "30"}/
                                                %td{:style => "padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:bold;font-size:11px"}
                                                  %a{:href => "https://www.facebook.com/SamePinch.co", :style => "text-decoration:none;color:#979797", :target => "_blank"} Facebook
                                                %td{:width => "30"}
                                                  %a{:href => "https://twitter.com/samepinchapp", :style => "text-decoration:none", :target => "_blank"}
                                                    %img.CToWUd{:border => "0", :height => "30", :src => "http://www.samepinch.co/img/emails/twitter_gray.png", :style => "text-decoration:none;display:block;outline:none", :width => "30"}/
                                                %td{:style => "padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:bold;font-size:11px"}
                                                  %a{:href => "https://twitter.com/samepinchapp", :style => "text-decoration:none;color:#979797", :target => "_blank"} Twitter
                                                %td{:width => "30"}
                                                  %a{:href => "https://posts.samepinch.co/", :style => "text-decoration:none", :target => "_blank"}
                                                    %img.CToWUd{:border => "0", :height => "30", :src => "http://www.samepinch.co/img/emails/blog_gray.png", :style => "text-decoration:none;display:block;outline:none", :width => "30"}/
                                                %td{:style => "padding-left:6px;font-family:helvetica neue,helvetica,sans-serif;font-weight:bold;font-size:11px"}
                                                  %a{:href => "https://posts.samepinch.co/", :style => "text-decoration:none;color:#979797", :target => "_blank"} Blog
                                  %div{:style => "min-height:30px;font-size:30px"} &nbsp;
                                  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse;"}
                                    %tbody
                                      %tr
                                        %td
                                          %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse:collapse", :width => "100%"}
                                            %tbody
                                              %tr
                                                %td{:align => "center", :style => "font-family:helvetica neue,helvetica,sans-serif;font-size:11px;color:#999999;line-height:18px;padding:0 30px 0 30px"}
                                                  ©SamePinch.co
                                                  %br
                                                    %a{:href => "http://www.samepinch.co/privacypolicy/", :style => "color:#979797;text-decoration:underline;font-weight:normal", :target => "_blank"} Privacy Policy
                                                    |
                                                    %a{:href => "http://www.samepinch.co/t&c/", :style => "color:#979797;text-decoration:underline;font-weight:normal", :target => "_blank"} Terms and Conditions
                                      %tr
                                        %td{:colspan => "1", :height => "30", :style => "font-size:30px;line-height:30px"} &nbsp;